@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Expanded", sans-serif;
}
